{% extends "layout.html" %}
{% block body %}
  <div class="well">
    <h1>Welcome to the Tweetome&trade;!</h1>
    <p><span class="label label-important">Warning</span> This goes up against the live database. Be very careful what you do in here.</p>
    <h4>Twitter collections:</h4>
    <ul class="unstyled">
      {% for collection in collections %}
        <li>
          <a href="{{ url_for('collections', collection_name=collection)}}">{{ collection }}</a>
        </li>
      {% endfor %}
    </ul>


  </div>
{% endblock %}