<!DOCTYPE html>
<html>
  <head>
    {% block head %}
      <title></title>
      {% block head_meta %}
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <meta name="description" content="">
          <meta name="author" content="">
      {% endblock %}
      {% block head_css %}
          <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
          <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}" rel="stylesheet">
          <link href="{{ url_for('static', filename='bootstrap/css/bootstrap-responsive.css') }}" rel="stylesheet">
          <link href="{{ url_for('static', filename='datepicker/css/datepicker.css') }}" rel="stylesheet">
          <style>
            body {
              padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
            }
          </style>
      {% endblock %}
    {% endblock %}
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">smappboard</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="/dashboard">Dashboard</a></li>
              <!-- <li><a href="/filter-criteria">Filter Criteria</a></li> -->
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      <p><span class="label label-important">Warning</span> This goes up against the live database. Be very careful what you do in here.</p>
      {% block body %}{% endblock %}
    </div> <!-- /container -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='datepicker/js/bootstrap-datepicker.js') }}" type="text/javascript"></script>
    <script>
      url = window.location;
      $('ul.nav a').filter(function() {
          return this.href == url;
      }).parent().addClass('active');
    </script>
    {% block tail %}
    {% endblock %}
  </body>
</html>
