{% extends "layout.html" %}
{% block body %}
    <a href="{{ url_for('collections', collection_name=collection_name) }}"><button class="button btn">Back</button></a>
    <h3>Edit Filter Criteria</h3>
    <div class="well">
      <form method="POST" action="{{ url_for('filter_criteria_update', collection_name=collection_name, id=id) }}" class="form form-horizontal">
        <fieldset>
          {{ form.hidden_tag() }}

          <div class="control-group">
            <div class="control-label">{{ form.filter_type.label }}</div>

            <div class="controls">
              {{ form.filter_type() }}
              <span class="help-block">
                <dl>
                  <dt>track</dt>
                  <dd>keyword search</dd>
                  <dt>follow</dt>
                  <dd>user id to follow</dd>
                  <dt>geo</dt>
                  <dd>coordinate box</dd>
                </dl>
              </span>
            </div>
          </div>

          <div class="control-group">
            <div class="control-label">{{ form.value.label }}</div>
            <div class="controls">
              {{ form.value(size=20) }}
            </div>
          </div>

          <div class="control-group">
            <div class="control-label">{{ form.active.label }}</div>
            <div class="controls">
              {{ form.active(size=20) }}
            </div>
          </div>

          <div class="control-group">
            <div class="control-label">{{ form.date_added.label }}</div>
            <div class="controls">
              <div class="input-append date">
                {{ form.date_added(size=20) }}
                <span class="add-on"><i class="icon-th"></i></span>
              </div>
            </div>
          </div>

            <div class="control-label">{{ form.date_removed.label }}</div>
            <div class="controls">
              <div class="input-append date">
                {{ form.date_removed(size=20) }}
                <span class="add-on"><i class="icon-th"></i></span>
              </div>
            </div>
          </div>

          <div class="controls">
            <input type="submit" value="Save" class="button btn-primary">
          </div>
        </fieldset>
    </form>
  </div>

{% endblock %}

{% block tail %}
  <script>
    $('#date_added').attr('data-date-format', 'YYYY-MM-DD')
    $('#date_added').datetimepicker({
      pickTime: false
    });
    $('#date_removed').attr('data-date-format', 'YYYY-MM-DD')
    $('#date_removed').datetimepicker({
      pickTime: false
    });
  </script>
{% endblock %}