<div id="tpm-graph">
  <h4>Tweets per minute</h4>
  <div class="form-group plot-controls">
    <div class="control-label">Start time:</div>
    <div class='input-group date'>
      <input type='text' class="form-control"  id='start_datetime'/>
      <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
      </span>
    </div>
    <div class="control-label">End time:</div>
    <div class='input-group date'>
      <input type='text' class="form-control" value="now" id='end_datetime'/>
      <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
      </span>
    </div>
  </div>
  <button class="btn btn-primary" onclick="show_graph('tpm');">Show</button>
  <div class="error" style="display: none;"><strong>Collection doesn't seem to have received any tweets in this last hour.</strong></div>
</div>

<div id="limits-graph">
  <h4>API rate limits</h4>
  <button class="btn btn-primary" onclick="show_graph('limits');">Show</button>
  <div class="error" style="display: none;"><strong>No rate limit messages logged for this collection.</strong></div>
</div>

<div id="throwaway-graph">
  <h4>Tweets thrown away (post-filtering)</h4>
  <button class="btn btn-primary" onclick="show_graph('throwaway');">Show</button>
  <div class="error" style="display: none;"><strong>No tweets thrown away by post-filtering for this collection.</strong></div>
</div>

{% block tail %}
  <script>
    function show_graph(graph_type) {
      var divid = '#' + graph_type + '-graph';
      $(divid + ' > button').hide();
      $.ajax({
        type: 'get',
        url: '/collections/{{ collection_name }}/graphs/' + graph_type,
        success: function(data){
          $(divid).append('<div class="graph" />');
          $(divid + ' .graph').append(data.documentElement)
          $('.plot-controls').hide()

        },
        error: function(xhr, ajaxOptions, thrownError){
          if(xhr.status == 404){
            $(divid + ' .error').show();
          } else{
            $(divid + ' .error').text("Unexpected error. Probably a time-out.");
            $(divid + ' .error').show();
          }
        }
      });
    }
  </script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js" type="text/javascript"></script>
  <script>
    $(function () {
      $('#start_datetime').datetimepicker();
      $('#start_datetime').datetimepicker();
    });
  </script>
{% endblock %}