{% extends "layout.html" %}
{% block body %}
  <h1>{{ collection_name }}</h1>
  
  <div class="well">
    <ul class="nav nav-tabs" id="myTab">
      <li><a data-target="#latest" data-toggle="tab">Latest hits</a></li>
      <li><a data-target="#graphs" data-toggle="tab">Graphs</a></li>
      <li><a data-target="#filter-criteria" data-toggle="tab">Filter Criteria</a></li>
      <li><a data-target="#post-filtering" data-toggle="tab">Post-filtering</a></li>
      <li><a data-target="#permissions" data-toggle="tab">Collection permissions</a></li>
      <li><a data-target="#stats" data-toggle="tab">Filter criteria statistics</a></li>
    </ul>
     
    <div class="tab-content">
      <div class="tab-pane" id="latest">
        {% include 'collections/_latest.html' %}
      </div>

      <div class="tab-pane" id="graphs">
        {% include 'collections/_graphs.html' %}
      </div>

      <div class="tab-pane" id="filter-criteria">
        {% include 'collections/_filter_criteria.html' %}
      </div>

      <div class="tab-pane" id="post-filtering">
        {% include 'collections/_post_filtering.html' %}
      </div>

      <div class="tab-pane" id="permissions">
        {% include 'collections/_permissions.html' %}
      </div>

      <div class="tab-pane" id="stats">
        {% include 'collections/_stats.html' %}
      </div>
    </div>
  </div>

  <script>
    window.onload=function(){
      $(function () {
        var anchor = window.location.hash;
        if(anchor == "") {
          anchor = "#latest";
        }
        $('#myTab').find("[data-target=" + anchor + "]").tab('show');
      })
    };
  </script>
{% endblock %}